body{
	margin: 0;
	padding: 0;
	background-image: url("../img/ar.jpg");
	background-size: cover;
	-webkit-background-size:cover;
}
form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.5);
	padding: 40px;
	border-radius: 15px;
	border: 1px solid #fff;
}
h3{
	margin: 0;
	padding: 0 0 20px;
	font-weight:bold;
	color: white;
	text-align: center; 
}
form p{
	margin: 0;
	padding: 0;
	color: white;

}
form input{
	margin-bottom: 10px;
	width: 100%;
}
form input[type=text],form input[type=number],form input[type=email],form input[type=nomber]{
	border: none;
	border-bottom:1px solid #fff;
	background-color: transparent;
	outline: none;
	height: 40px;
	color: #000; 
}
::placeholder{
	color:#fff;
}
form:hover{
	background-color: rgba(50,0,0,0.5);
}
form select{
	margin-top: 20px;
	padding: 10px 0;
}
form input[type=submit],input[type=reset]{
	border: none;
	height: 40px;
	outline: none;
	font-size: 15px;
	background-color: darkgrey;
	cursor: pointer;
	border-radius: 20px;
}